﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Admin Panel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Search", "Search", "Actions", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Insert", "Insert", "Actions", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Update", "PreUpdateSearch", "Actions", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Delete", "Delete", "Actions", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content d-flex flex-column">
        <br />
        @RenderBody()
    </div>
    <div class="container">
        <hr />
        <footer>
            <p style="float:right;"><span class="fas fa-users-cog"></span>&nbsp;@Html.ActionLink("REST API Reference", "Index", "Help", new { area = "" }, null)</p>
            <p>&copy; @DateTime.Now.Year - SET Developers Inc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.min.js")
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/Scripts/Actions/InsertActions.js")
    @Scripts.Render("~/Scripts/Actions/UpdateActions.js")
    @Scripts.Render("~/Scripts/Actions/DeleteActions.js")
    @Scripts.Render("~/Scripts/Actions/SearchActions.js")
    @Scripts.Render("~/Scripts/Actions/ResultsActions.js")
    @Scripts.Render("~/Scripts/Actions/DisplayOrdersActions.js")
    @Scripts.Render("~/Scripts/Actions/PreUpdateSearchActions.js")
</body>
</html>
