﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Select the type of item to delete:</h1>
<div id="selectListContainer">
    <select class="form-control" onchange="showDeleteForm()" id="selectList">
        <option value="Customer">Customer</option>
        <option value="Product">Product</option>
        <option value="Order">Order</option>
        <option value="Cart">Cart</option>
    </select>
</div>
<br />

<div id="SuccessBox" class="alert alert-success" hidden>
    <ul id="SuccessList"></ul>
</div>
<div id="FailBox" class="alert alert-danger" hidden>
    <ul id="FailList"></ul>
</div>

<form id="CustomerDeleteForm" method="POST" class="well">
    <div>
        <label for="customerID">Customer ID</label>
    </div>
    <div>
        <input class="form-control" name="customerID" id="customerID" type="text" />
    </div>
    <br />
    <div>
        <p><a disabled id="custSubmit" class="btn btn-default" onclick="DeleteItem('@ViewBag.customersAPI', 0)">Submit</a></p>
    </div>
</form>

<form id="ProductDeleteForm" method="POST" class="well" hidden>
    <div>
        <label for="prodID">Product ID</label>
    </div>
    <div>
        <input class="form-control" name="prodID" id="prodID" type="text" />
    </div>
    <br />
    <div>
        <p><a disabled id="prodSubmit" class="btn btn-default" onclick="DeleteItem('@ViewBag.productsAPI', 1)">Submit</a></p>
    </div>
</form>

<form id="OrderDeleteForm" method="POST" class="well" hidden>
    <div>
        <label for="orderID">Order ID</label>
    </div>
    <div>
        <input class="form-control" name="orderID" id="orderID" type="text" />
    </div>
    <br />
    <div>
        <p><a disabled id="orderSubmit" class="btn btn-default" onclick="DeleteItem('@ViewBag.ordersAPI', 2)">Submit</a></p>
    </div>
</form>

<form id="CartDeleteForm" method="POST" class="well" hidden>
    <div>
        <label for="cartOrderID">Order ID</label>
    </div>
    <div>
        <input class="form-control" name="cartOrderID" id="cartOrderID" type="text" />
    </div>
    <div>
        <label for="cartProdID">Product ID</label>
    </div>
    <div>
        <input class="form-control" name="cartProdID" id="cartProdID" type="text" />
    </div>
    <br />
    <div>
        <p><a disabled id="cartSubmit" class="btn btn-default" onclick="DeleteItem('@ViewBag.cartsAPI', 3)">Submit</a></p>
    </div>
</form>