﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var customerOrder = (List<NBray_group_SOA_A04.Models.CustOrderDTO>)TempData["custOrders"];
}
<body>
    <div>
        <table class="table table-hover" id="orderTable">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer Name</th>
                    <th>P.O. Number</th>
                    <th>Order Date</th>
                </tr>
            </thead>
            <tbody>
                @if (customerOrder != null)
                {
                    foreach (var item in customerOrder)
                    {
                        <tr>
                            <td>@item.orderId</td>
                            <td>@(item.firstName ?? "") @item.lastName</td>
                            <td>@(item.poNumber ?? "")</td>
                            <td>@item.orderDate</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>


