﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h3>Select the type of item to insert:</h3>
<div id="selectListContainer">
    <select class="form-control" onchange="showInsertForm()" id="selectList">
        <option value="Customer">Customer</option>
        <option value="Product">Product</option>
        <option value="Order">Order</option>
        <option value="Cart">Cart</option>
    </select>
</div>
<br />

<div id="SuccessBox" class="alert alert-success" hidden>
    <ul id="SuccessList"></ul>
</div>
<div id="FailBox" class="alert alert-danger" hidden>
    <ul id="FailList"></ul>
</div>

<div>
    <h3>Inserted Item</h3>
    <ul id="items" />
</div>

<form id="CustomerAddForm" method="POST" class="well">
    <div>
        <label for="fName">First Name</label>
    </div>
    <div>
        <input class="form-control" name="fName" id="fName" type="text" />
    </div>
    <div>
        <label for="lName">Last Name*</label>
    </div>
    <div>
        <input class="form-control" name="lName" id="lName" type="text" />
    </div>
    <div>
        <label for="pNum">Phone Number*</label>
    </div>
    <div>
        <input class="form-control" name="pNum" id="pNum" type="text" />
    </div>
    <br />
    <div>
        <p><a class="btn btn-default" onclick="AddItem('@ViewBag.customersAPI', 0)">Submit</a></p>
    </div>
</form>

<form id="ProductAddForm" method="POST" class="well" hidden>
    <div>
        <label for="prodName">Product Name*</label>
    </div>
    <div>
        <input class="form-control" name="prodName" id="prodName" type="text" />
    </div>
    <div>
        <label for="prodWeight">Product Weight*</label>
    </div>
    <div>
        <input class="form-control" name="prodWeight" id="prodWeight" type="text" />
    </div>
    <div>
        <label for="prodPrice">Product Price*</label>
    </div>
    <div>
        <input class="form-control" name="prodPrice" id="prodPrice" type="text" />
    </div>
    <div>
        <input name="inStock" id="inStock" type="checkbox" />
        <label for="inStock">In Stock*</label>
    </div>
    <br />
    <div>
        <p><a class="btn btn-default" onclick="AddItem('@ViewBag.productsAPI', 1)">Submit</a></p>
    </div>
</form>


<form id="OrderAddForm" method="POST" class="well" hidden>
    <div>
        <label for="orderCustomerID">Customer ID*</label>
    </div>
    <div>
        <input class="form-control" name="orderCustomerID" id="orderCustomerID" type="text" />
    </div>
    <div>
        <label for="orderDate">Purchase Date*</label>
    </div>
    <div>
        <input class="form-control" name="orderDate" id="orderDate" type="date" />
    </div>
    <div>
        <label for="poNumber">P.O. Number</label>
    </div>
    <div>
        <input class="form-control" name="poNumber" id="poNumber" type="text" />
    </div>
    <br />
    <div>
        <p><a class="btn btn-default" onclick="AddItem('@ViewBag.ordersAPI', 2)">Submit</a></p>
    </div>
</form>

<form id="CartAddForm" method="POST" class="well" hidden>
    <div>
        <label for="cartOrderID">Order ID*</label>
    </div>
    <div>
        <input class="form-control" name="cartOrderID" id="cartOrderID" type="text" />
    </div>
    <div>
        <label for="cartProdID">Product ID*</label>
    </div>
    <div>
        <input class="form-control" name="cartProdID" id="cartProdID" type="text" />
    </div>

    <div>
        <label for="quanity">Quantity*</label>
    </div>
    <div>
        <input class="form-control" name="quanity" id="quanity" type="text" />
    </div>
    <br />
    <div>
        <p><a class="btn btn-default" onclick="AddItem('@ViewBag.cartsAPI', 3)">Submit</a></p>
    </div>
</form>

