﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string orderId = null;

    orderId = @TempData["orderId"] as string;
}

<body>
    <label hidden id="orderId">@orderId</label>
    <div class="row">
        <h3>Customer Information</h3>
        <div class="col-md-3 pull-right float-right">
            <br />
            <div>
                <label id="resultsPurchaseDate">Purchase Date: <span style="font-weight:normal"></span></label>
            </div>
            <div>
            </div>
            <div>
                <label id="resultsPONumber">  P.O. Number:  <span style="font-weight:normal"></span></label>
            </div>
        </div>
        <div class="col-md-3">
            <div>

            </div>
            <div>
                <label id="resultsCustID">   ID:  <span style="font-weight:normal"></span></label>
            </div>
            <div>
                <label id="resultsCustName"> Name:  <span style="font-weight:normal"></span></label>
            </div>
            <div>
                <label id="resultsCustpNumber">Phone:  <span style="font-weight:normal"></span></label>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Order Information</h2>
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Unit Price($)</th>
                    <th>Unit Weight(kg)</th>
                </tr>
            </thead>
            <tbody id="orderProductTable">
            </tbody>
        </table>

        <table class="table-condensed">
            <thead>
                <tr>
                    <th >Sub Total</th>
                    <td id="reusltsSubTotal">$</td>
                </tr>
                <tr>
                    <th>Tax (13%)</th>
                    <td id="resultsTax">$</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td id="resultsTotal">$</td>
                </tr>
            </thead>
        </table>
    </div>
    <br/>
    <div>
        <label id="resultsTotalPieces">Total Number of Pieces in Order: <span style="font-weight:normal"></span></label>
    </div>
    <div>
        <label id="resultsTotalWeight">          Total Weight of Order: <span style="font-weight:normal"></span></label>
    </div>
</body>

@section scripts{
    <script>
        $(document).ready(function () {
            console.log()
            GetPurchaseOrder("/api/purchaseOrders/", "@orderId");
        });
    </script>
}