﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>Select the type of item to search for:</h3>
<div id="selectListContainer">
    <select class="form-control" onchange="showSearchForm()" id="selectList">
        <option value="Customer">Customer</option>
        <option value="Product">Product</option>
        <option value="Order">Order</option>
        <option value="Cart">Cart</option>
        <option value="CustOrder">Customer/Order</option>
    </select>
    <br />
    <div class="checkbox" >
        <label id="checkBoxContainer" hidden><input id="generatePOCheck" type="checkbox" >Generate Purchase Order</label>
    </div>
</div>
<br />

<div id="SuccessBox" class="alert alert-success" hidden>
    <ul id="SuccessList"></ul>
</div>
<div id="FailBox" class="alert alert-danger" hidden>
    <ul id="FailList"></ul>
</div>

<form id="CustomerSearchForm" method="POST" class="well">
    <div>
        <label for="customerID">Customer ID</label>
    </div>
    <div>
        <input class="form-control" name="searchCustomerID" id="searchCustomerID" type="text" />
    </div>
    <div>
        <label for="fName">First Name</label>
    </div>
    <div>
        <input class="form-control" name="searchfName" id="searchfName" type="text" />
    </div>
    <div>
        <label for="lName">Last Name</label>
    </div>
    <div>
        <input class="form-control" name="searchlName" id="searchlName" type="text" />
    </div>
    <div>
        <label for="pNum">Phone Number</label>
    </div>
    <div>
        <input class="form-control" name="searchpNum" id="searchpNum" type="text" />
    </div>
    <br />
    <div>
        <p><a class="btn btn-default" id="custSubmit" onclick="SearchItem('@ViewBag.customersAPI', 0)">Submit</a></p>
    </div>
</form>

<form id="ProductSearchForm" method="POST" class="well" hidden>
    <div>
        <label for="prodID">Product ID</label>
    </div>
    <div>
        <input class="form-control" name="searchProdID" id="searchProdID" type="text" />
    </div>
    <div>
        <label for="prodName">Product Name</label>
    </div>
    <div>
        <input class="form-control" name="searchProdName" id="searchProdName" type="text" />
    </div>
    <div>
        <label for="inStock">In Stock</label>
    </div>
    <div>
        <select class="form-control" id="searchInStock">
            <option value="N/A">N/A</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <br />
    <div>
        <p><a class="btn btn-default" id="prodSubmit" onclick="SearchItem('@ViewBag.productsAPI', 1)">Submit</a></p>
    </div>
</form>

<form id="OrderSearchForm" method="POST" class="well" hidden>
    <div>
        <label for="OrderID">Order ID</label>
    </div>
    <div>
        <input class="form-control" name="OrderID" id="searchOrderID" type="text" />
    </div>
    <div>
        <label for="orderCustomerID">Customer ID</label>
    </div>
    <div>
        <input class="form-control" name="orderCustomerID" id="searchOrderCustomerID" type="text" />
    </div>
    <div>
        <label for="orderDate">Purchase Date</label>
    </div>
    <div>
        <input class="form-control" name="orderDate" id="searchOrderDate" type="text" />
    </div>
    <div>
        <label for="poNumber">P.O. Number</label>
    </div>
    <div>
        <input class="form-control" name="poNumber" id="searchpoNumber" type="text" />
    </div>
    <br />
    <div>
        <p><a class="btn btn-default" onclick="SearchItem('@ViewBag.ordersAPI', 2)">Submit</a></p>
    </div>
</form>

<form id="CartSearchForm" method="POST" class="well" hidden>
    <div>
        <label for="cartOrderID">Order ID</label>
    </div>
    <div>
        <input class="form-control" name="cartOrderID" id="searchCartOrderID" type="text" />
    </div>
    <div>
        <label for="cartProdID">Product ID</label>
    </div>
    <div>
        <input class="form-control" name="cartProdID" id="searchCartProdID" type="text" />
    </div>
    <br />
    <div>
        <p><a class="btn btn-default" onclick="SearchItem('@ViewBag.cartsAPI', 3)">Submit</a></p>
    </div>
</form>


<form id="CustomerOrderSearchForm" method="POST" class="well" hidden>
    <div>
        <label for="customerID">Customer ID</label>
    </div>
    <div>
        <input class="form-control" name="searchCustomerOrderID" id="searchCustomerOrderID" type="text" />
    </div>
    <div>
        <label for="fName">First Name</label>
    </div>
    <div>
        <input class="form-control" name="searchCustOrderfName" id="searchCustOrderfName" type="text" />
    </div>
    <div>
        <label for="lName">Last Name</label>
    </div>
    <div>
        <input class="form-control" name="searchCustOrderlName" id="searchCustOrderlName" type="text" />
    </div>
    <div>
        <label for="pNum">Phone Number</label>
    </div>
    <div>
        <input class="form-control" name="searchCustOrderpNum" id="searchCustOrderpNum" type="text" />
    </div>
    <div>
        <label for="orderDate">Purchase Date</label>
    </div>
    <div>
        <input class="form-control" name="searchCustOrderDate" id="searchCustOrderDate" type="text" />
    </div>
    <div>
        <label for="poNumber">P.O. Number</label>
    </div>
    <div>
        <input class="form-control" name="searchCustOrderpoNumber" id="searchCustOrderpoNumber" type="text" />
    </div>
    <br />
    <div>
        <p><a class="btn btn-default" onclick="SearchItem('@ViewBag.customerOrderAPI', 4, '@Url.Action("CustomerOrderSearch", "Actions")')">Submit</a></p>
    </div>
</form>






<div class=" col-md-3">
    <div class="panel panel-primary" id="itemPannel" hidden>
        <div class="panel-heading" id="itemTypePannelHeader"></div>
        <div class="panel-body" id="itemPannelBody">

            <table class="table table-condensed" id="multiItem" hidden>
                <thead>
                    <tr id="headerRow"></tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>

        </div>
    </div>
</div>
