﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    NBray_group_SOA_A04.Models.CustomerDTO customer = null;
    NBray_group_SOA_A04.Models.ProductDTO product = null;
    NBray_group_SOA_A04.Models.OrderDTO order = null;
    NBray_group_SOA_A04.Models.CartDTO cart = null;


    customer = @TempData["customer"] as NBray_group_SOA_A04.Models.CustomerDTO;
    product = @TempData["product"] as NBray_group_SOA_A04.Models.ProductDTO;
    order = @TempData["order"] as NBray_group_SOA_A04.Models.OrderDTO;
    cart = @TempData["cart"] as NBray_group_SOA_A04.Models.CartDTO;


}

<br/>
<div id="SuccessBox" class="alert alert-success" hidden>
    <ul id="SuccessList"></ul>
</div>
<div id="FailBox" class="alert alert-danger" hidden>
    <ul id="FailList"></ul>
</div>

<div>
    <h3>Updated Items</h3>
    <ul id="items" />
</div>

<form id="CustomerUpdateForm" method="POST" class="well" hidden>
    <div>
        <label for="customerID">Customer ID*</label>
    </div>
    <div>
        <input class="form-control" name="customerID" id="updateCustomerID" type="text" value="@customer.custId" />
    </div>
    <div>
        <label for="fName">First Name</label>
    </div>
    <div>
        <input class="form-control" name="fName" id="fName" type="text" value="@customer.firstName"/>
    </div>
    <div>
        <label for="lName">Last Name*</label>
    </div>
    <div>
        <input class="form-control" name="lName" id="lName" type="text" value="@customer.lastName" />
    </div>
    <div>
        <label for="pNum">Phone Number*</label>
    </div>
    <div>
        <input class="form-control" name="pNum" id="pNum" type="text"  value="@customer.phoneNumber"/>
    </div>
    <br />
    <div>
        <p><a class="btn btn-default" onclick="UpdateItem('@ViewBag.customersAPI', 0)">Submit</a></p>
    </div>
</form>

<form id="ProductUpdateForm" method="POST" class="well" hidden>
    <div>
        <label for="prodID">Product ID*</label>
    </div>
    <div>
        <input class="form-control" name="prodID" id="updateProdID" type="text"  value="@product.prodID"/>
    </div>
    <div>
        <label for="prodName">Product Name</label>
    </div>
    <div>
        <input class="form-control" name="prodName" id="prodName" type="text"  value="@product.prodName"/>
    </div>
    <div>
        <label for="prodWeight">Product Weight</label>
    </div>
    <div>
        <input class="form-control" name="prodWeight" id="prodWeight" type="text"  value="@product.prodWeight"/>
    </div>
    <div>
        <label for="prodPrice">Product Price</label>
    </div>
    <div>
        <input class="form-control" name="prodPrice" id="prodPrice" type="text"  value="@product.price"/>
    </div>
    <div>
        @if (product.inStock != null)
        {
            if (product.inStock == true)
            {
                <input name="inStock" id="inStock" type="checkbox" checked />
            }
            else
            {
                <input name="inStock" id="inStock" type="checkbox" />
            }
        }
        else
        {
            <input name="inStock" id="inStock" type="checkbox" />
        }
        <label for="inStock">In Stock*</label>
    </div>
    <br />
    <div>
        <p><a class="btn btn-default" onclick="UpdateItem('@ViewBag.productsAPI', 1)">Submit</a></p>
    </div>
</form>

<form id="OrderUpdateForm" method="POST" class="well" hidden>
    <div>
        <label for="OrderID">Order ID*</label>
    </div>
    <div>
        <input class="form-control" name="OrderID" id="updateOrderID" type="text" value="@order.orderId" />
    </div>
    <div>
        <label for="orderCustomerID">Customer ID*</label>
    </div>
    <div>
        <input class="form-control" name="orderCustomerID" id="updateOrderCustomerID" type="text" value="@order.custId" />
    </div>
    <div>
        <label for="orderDate">Purchase Date</label>
    </div>
    <div>
        <input class="form-control" name="orderDate" id="orderDate" type="text" value="@order.orderDate" />
    </div>
    <div>
        <label for="poNumber">P.O. Number</label>
    </div>
    <div>
        <input class="form-control" name="poNumber" id="poNumber" type="text" value="@order.poNumber" />
    </div>
    <br />
    <div>
        <p><a class="btn btn-default" onclick="UpdateItem('@ViewBag.ordersAPI', 2)">Submit</a></p>
    </div>
</form>

<form id="CartUpdateForm" method="POST" class="well" hidden>
    <div>
        <label for="cartOrderID">Order ID*</label>
    </div>
    <div>
        <input class="form-control" name="cartOrderID" id="updateCartOrderID" type="text" value="@cart.orderId" />
    </div>
    <div>
        <label for="cartProdID">Product ID*</label>
    </div>
    <div>
        <input class="form-control" name="cartProdID" id="updateCartProdID" type="text" value="@cart.prodId" />
    </div>

    <div>
        <label for="quantity">Quantity</label>
    </div>
    <div>
        <input class="form-control" name="quantity" id="quantity" type="text" value="@cart.quantity" />
    </div>
    <br />
    <div>
        <p><a class="btn btn-default" onclick="UpdateItem('@ViewBag.cartsAPI', 3)">Submit</a></p>
    </div>
</form>
