﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}

.btn-block {
    display: block;
    width: 100%;
    height: 100px;
    line-height: 80px;
}

.headerInfo, .bodyInfo {
    font-weight: normal;
}