﻿<div class="jumbotron">
    <h1>Admin Panel Actions</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <p><a class="btn btn-primary btn-lg btn-block" href="~/Actions/Search">
            Search
        </a></p>
    </div>
    <div class="col-md-6">
        <p><a class="btn btn-default btn-lg btn-block" href="~/Actions/Insert">
            Insert
        </a></p>
    </div>
    <div class="col-md-6">
        <p><a class="btn btn-default btn-lg btn-block" href="~/Actions/PreUpdateSearch">
            Edit
        </a></p>
    </div>
    <div class="col-md-6">
        <p><a class="btn btn-danger btn-lg btn-block" href="~/Actions/Delete">
            Delete
        </a></p>
    </div>
</div>